*{
    font-family:'Poppins', sans-serif;
}
#main{
    display:flex;
    flex-direction:column;
    width:100%;
    #page-1{
        #image-1{
        width:100%;
        img{
            width:100%;
            /* height: 100vh; */
        }
    }
     #Elements{
        position:absolute;
        z-index:100;
        top:0;
        left:0;
        width:100%;
            #main-nav{
                display:flex;
                align-items: center;
                gap:2.625rem;
                margin-bottom:9.9375rem;
                #logo{
                img{
                    margin-left:4.25rem;
                    width:5.4375rem;
                    height:6.1875rem;
                }
            }
            #nav{
                display:flex;
                gap:1.875rem;
                
                  p{
                    a{
                        text-decoration:none;
                        font-weight:600;
                        font-style:semi-bold;
                        font-size:1.375rem;
                        color:#F5F5F5;
                        &:focus{
                            color:#E9BD8C;
                        }
                    }
                  }  
                }}
            #home-text{
            display:flex;
            flex-direction:column;
            #top{
                font-size:1.5rem;
                font-weight:600;
                font-style:Semi-Bold;
                color:#E9BD8C;
                margin-bottom:0.1875rem;
                margin-left:5.1875rem;
            }
            #mid{
                font-size:4.625rem;
                font-weight:400;
                font-style:regular;
                color:#F5F5F5;
                line-height:100%;
                margin-left:5rem;
            }
        }
        #base-home{
            display:flex;
            gap:1.1875rem;
            #shop-now{
                width:12.125rem;
                height:4.0625rem;
                margin-left:5rem;
                font-weight:600;
                font-style:semi-bold;
                font-size:1.5rem;
                line-height:100%;
                letter-spacing:0%;
                color:#F5F5F5;
                background-color:#933C24;
                border:0.0625rem solid #000000;
                border-radius:0.5rem;
                 margin-top:6.3125rem;
                &:hover{
                    cursor:pointer;
                }
            }
            #learn-more{
                text-decoration:none;
                color:#E9BD8C;
                font-weight:600;
                font-size:1.5rem;
                margin-top:7.6875rem;
            }
        }
        }
    }
    #Second-page{
        #top-prods{
            font-size:4vw;
            font-weight:600;
            text-align:center;
            margin:8.125rem 0;
            color:#111111;
        }
        #products{
            display:flex;
            gap:1.25rem;
            justify-content:space-evenly;
            margin:0 5rem;
            flex-wrap:wrap ;
            #dish1, #dish2, #dish3{
                display:flex;
                color:#FFFFFF;
                position:relative;
                #cont{
                      width:22.5rem;
                      height:25.6875rem;
                      position:relative;
                      overflow:hidden;
                      border-radius:0.5rem;
                    #bg-layer{
                    width: 53.25rem;
                    height:30rem;
                }
                }
                #container{
                    width:14.125rem;
                    height:13.9375rem;
                    position:absolute;
                    #prod1{
                    z-index:100;
                    object-fit:cover;
                    width:14.125rem;
                    height:13.9375rem;
                    margin-left:5.75rem;
                }
                }
                #card-content{
                    z-index:1000;
                    display:flex;
                    flex-direction:column;
                    gap:2.9375rem;
                    position:absolute;
                    bottom:0;
                    #first-part,#second-part{
                        display:flex;
                        justify-content:space-between;
                        margin-left:1.8925rem;
                        margin-right:2.875rem;
                        #price{
                            font-size:1.5rem;
                            font-weight:600;
                            font-style:semi-bold;
                        }
                    }
                    #first-part{
                        margin-top:16.25rem;
                        gap:12.375rem;
                        #info-btn{
                            border:1px solid #FFFFFF;
                            border-radius:50%;
                            width:2.4375rem;
                            height:2.4375rem;
                            background-color:transparent;
                            color:#FFFFFF;
                            font-size:1.25rem;
                            font-weight:500;
                            font-style:medium;
                            &:hover{
                                cursor:pointer;
                            }
                        }
                    }
                    #second-part{
                        margin-bottom:2.375rem;
                        gap:5.25rem;
                        #title{
                            font-size:1.5rem;
                            font-weight:500;
                            font-style:medium;
                            line-height:100%;
                            letter-spacing:0%;
                        }
                        #add-btn{
                            width:4.4375rem;
                            height:3.0625rem;
                            border:0.0625rem solid #933C24;
                            border-radius:0.25rem;
                            background-color:#933C24;
                            font-size:1.5rem;
                            font-style:medium;
                            font-weight:500;
                            color:#FFFFFF;
                            padding:1rem 0.75rem;
                            &:hover{
                                cursor:pointer;
                            }
                        }
                    }
                }
            }
           } 
    }
}